.list{
    display: flex;
    max-width: 1500px;
    height: 700px;
    border: 5px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
}
.item{
    flex-basis: 250px;
    height: 150px;
    border: 2px solid blue;
    background-color: aqua;
    font-size: 50px;
    color: white;
    
}
.item:nth-child(1){
    flex-shrink: -4;
    order: -5;
}
.item:nth-child(2){
    background-color: greenyellow;
    order: 4;
}


.item:nth-child(3){
    background-color: peru;
   order: -1;
}



.item:nth-child(4){
    background-color: brown ;
  order: 4;
}

.item:nth-child(5){
background-color: purple;
order: -2  ;
}